* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

p{
    display: block;
    font-size: 20px;
    text-align: center;
}

.productImage{
    max-width: 90%;
    height: auto;
}

.wrapper{
    display: flex;
    margin-top: 10%;
}

.image-container{
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
}

.add-to-cart{
    background-color: blue;
    margin-right: 5%;
    color: white;
    width: 150px;
    height: 50px;
    border: none;
    border-radius: 10px;
}


/* Quantity input customisation */
input[type="number"] {
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

.number-input {
    border: 2px solid #ddd;
    display: inline-flex;
}

.number-input,
.number-input * {
    box-sizing: border-box;
}

.number-input button {
    outline:none;
    -webkit-appearance: none;
    background-color: transparent;
    border: none;
    align-items: center;
    justify-content: center;
    width: 3rem;
    height: 3rem;
    cursor: pointer;
    margin: 0;
    position: relative;
}

.number-input button:before,
.number-input button:after {
    display: inline-block;
    position: absolute;
    content: '';
    width: 1rem;
    height: 2px;
    background-color: #212121;
    transform: translate(-50%, -50%);
}
.number-input button.plus:after {
    transform: translate(-50%, -50%) rotate(90deg);
}

.number-input input[type=number] {
    font-family: sans-serif;
    max-width: 5rem;
    padding: .5rem;
    border: solid #ddd;
    border-width: 0 2px;
    text-align: center;
}
  /* end quantity customisation */

.btn_container{
  display: flex;
  margin-top: 30px;
}


.remove-from-cart{
    background-color: rgb(255, 0, 0);
    color: white;
    width: 150px;
    height: 50px;
    border: none;
    border-radius: 10px;
}

@media(max-width: 500px){
    .wrapper{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

@media(max-width: 800px){
    .wrapper{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
