{% extends 'store/Main.html' %}
{% load static %}

{% block content %}
    <link rel="stylesheet" href="{% static 'css/change_pass_email_write.css' %}">
    <div class="container wrapper_email">
        <h2 class="header_em">Enter your email to reset password</h2>
        <form class="form_em" action="" method='post'>
            {% csrf_token %}
            <input id="email_inp" name="email" type="email" placeholder='example@gmail.com' required>
            <input class="submit" type="submit">
        </form>
        <!-- messages -->
        <br>
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
              {{ message }}
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
        {% endfor %}
        <!-- end messages -->
    </div>
{% endblock content %}